[Desktop Entry]
Encoding=UTF-8
Version=1.1.6
Name=Kylin Ipmsg
Name[zh_CN]=麒麟传书
Name[zh_HK]=LAN 通訊工具
Name[zh_TW]=區域網路通訊工具
Comment=Beautiful LAN chat tool
Comment[zh_CN]=麒麟局域网聊天工具，提供局域网聊天和文件传输功能，界面美观.
Keywords=chat;talk;im;message;ipmsg;
Exec=/usr/bin/kylin-ipmsg
Icon=kylin-ipmsg
StartupNotify=false
Terminal=false
Type=Application
Categories=InstantMessaging;
